@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    margin: 0;
    /* padding: 0; */
    line-height: 1.5em;
    color: #222;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #222;
}

/* ###################### Header ######################### */
/* Banner */
.banner-outer{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #00202B 50%, #fff 50%);
    position: relative;
}

.banner{
    /* border: red solid 2px; */
    width: 1450px;
    /* margin: auto; */
}

.banner img{
    /* border: red solid 2px; */
    display: block;
}

.close-banner{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 26px;
    cursor: pointer;
}


/* LNB */
.lnb-outer{
    /* border: red solid 2px; */
    background-color: #e2edf8;
    display: flex;
    justify-content: center;
}

.lnb{
    width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.lnb .lnb-navi a::after{
    content: '|';
    font-size: 12px;
    color: #bbb;
    margin-right: 5px;
    padding-left: 5px;
}

.lnb .lnb-navi a:last-child::after{
    display: none;
}

.lnb .lnb-navi a:hover{
    color: dodgerblue;
}

/* GNB */
.gnb-outer{
    background-color: #272c38;
    display: flex;
    justify-content: center;
}

nav{
    width: 1450px;
    position: relative;
}

.gnb{
    list-style: none;
    display: flex;    
    margin: 0;
}

/* .gnb a{
    color: #fff;
} */

.gnb li:not(.gnb li:last-child){
    flex: 1;
    height: 50px;
    text-align: center;
    border-right: 1px solid rgb(139, 139, 139);
    position: relative;
}

.gnb li:last-child{
    width: 50px;
    background-color: #12359d;
    position: relative;
    transition: 0.35s;
}

.gnb li:last-child.active{
    background-color: #fff;
}

.gnb li:first-child{
    background-color: crimson;
}

.gnb li > a{
    color: #fff;
    display: block;
    height: 100%;
    padding-top: 14px;
}

.badge{
    background-color: crimson;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
}

.dropdown{
    position: absolute;
    width: 100%;
    /* display: none; */
}

.dropdown a {
    background-color: #fff;
    display: block;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dropdown a:hover{
    background-color: #eee;
}

.dropdown a:last-child{
    border-bottom: none;
}

/* 방법 1 */
/* .gnb li:hover .dropdown{
    display: block;
} */

/* 방법 2 */
.dropdown{
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.gnb li:hover .dropdown{
    opacity: 1;
    pointer-events: all;
}

/* Trigger */
.trigger{
    /* border: 1px solid red; */
    width: 25px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.trigger span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: 0.35s;
}

.trigger span:nth-child(1){
    top: 0;
}

.trigger span:nth-child(2){
    top: 50%;
}

.trigger span:nth-child(3){
    top: 100%;
}

.trigger.active span{
    background-color: #000;
}

.trigger.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}

.trigger.active span:nth-child(2){
    opacity: 0;
}

.trigger.active span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

/* Sitemap */
.sitemap-outer{
    background-color: #fff;
    position: absolute;
    top: 100%;
    width: calc(100% - 1px);
    padding: 30px 15px;
    display: none;
}

.sitemap{
    display: flex;
}

.sitemap .mapinfo{
    flex: 1;
    font-size: 14px;
    line-height: 2em;
}

.sitemap .mapinfo a{
    display: block;
}

.sitemap .mapinfo a::before{
    content: '- ';
}

.sitemap .mapinfo a:hover{
    text-decoration: underline;
}