.thumbs_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0 200px;
    padding: 20px 0 0 10px;
}
.thumbs_item{
    width: 25%;
    margin: 0 0 15px 0;
    padding: 0 10px;
}
.thumbs_thumbnail{
    max-width: 100%;
    /* max-height: 188px; */
    margin: 0 0 10px 0;
}
.thumbs_info{
    display: flex;
}
.thumbs_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orangered;
    background-image: url(../Source_images/Responsive_Youtube_img/poly.jpg);
    background-size: 40px 40px;
}
.thumbs_text{
    width: calc(100% - 40px);
    padding-left: 10px;
}
.thumbs_text_title{
    font-size: 1.2rem;
    /* margin-bottom: 0.5em; */
    margin: 0;
}
.thumbs_text_owner{
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
.thumbs_text_anal{
    font-size: 0.9rem;
    color: #aeaeae;
}

@media screen and (max-width: 1000px){
    .thumbs_item{
        width: 33.333%;
    }
}

@media screen and (max-width: 800px){
    .thumbs_item{
        width: 50%;
    }
    .thumbs_wrapper{
        margin: 60px 0 0 60px;
    }
}

@media screen and (max-width: 400px){
    .thumbs_item{
        width: 100%;
    }
    .thumbs_wrapper{
        margin: 60px 0 0 0;
        padding: 20px 0 0 0;
    }
}